body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3ca3282d;
}

.container {
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px;
}
.profile {
    text-align: center;
}

.profile img {
    width: auto;
    height: auto;
    margin: 0% auto;
    display: block;
}

.links a {
    display: block;
    margin: 10px 0;
    color: #0073e6;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.goals {
    text-align: left;
    margin-top: 20px;
}

.goals h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.goals ul {
    list-style-type: none;
    padding: 0;
}

.goals li {
    margin: 10px 0;
}
